<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md border-bottom border-success border-4 bg-dark">
        <div class="container">

            <div class="border-end border-secondary">
                <a class="navbar-brand logo text-secondary" href="#">tech blog<br/>dyjeciński</a>
            </div>

            <a class="text-secondary home-nav ms-3" href="#"><i class="bi bi-house-door"></i></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Kategorie
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Java</a></li>
                            <li><a class="dropdown-item" href="#">Hibernate</a></li>
                            <li><a class="dropdown-item" href="#">Spring</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Inne</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex me-1 ms-3">
                    <a class="text-secondary" href="#"><i class="bi bi-search"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="border-bottom">
        <div class="container pt-4">
            <div class="row">
                <div class="col-6">
                    <h1>Blog technologiczny</h1>
                    <p>Trendy, praktyczne wskazówki, i fascynujące kodowanie – wszystko w jednym miejscu.</p>
                </div>
                <div class="col-6">
                    <ul class="nav fs-6 float-end">
                        <li class="nav-item">
                            <a class="nav-link px-2 fs-6 text-body-tertiary"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 fs-6 text-body-tertiary"><i class="bi bi-twitter-x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 fs-6 text-body-tertiary"><i class="bi bi-envelope-fill"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 fs-6 text-body-tertiary"><i class="bi bi-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 fs-6 text-body-tertiary"><i class="bi bi-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-underline pt-4">
                <li class="nav-item me-3">
                    <a class="nav-link active text-success" aria-current="page" href="#">Wszystkie</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link disabled" href="#">Java</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link disabled" href="#">Hibernate</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link disabled" href="#">Spring</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link disabled" aria-disabled="true">Inne</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>