<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="common/head :: head">
<body>

<div th:insert="common/header :: header"></div>

<div class="container">
    <div class="container text-start">
        <div class="row">
            <div class="col-9 ps-0">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere iaculis elit, vel posuere
                    lacus. Vivamus eu ex ultricies, vehicula urna a, dapibus est. Praesent sodales augue non diam
                    faucibus dapibus. Pellentesque sed nunc luctus, mollis lorem eu, blandit justo. Proin sed mi sit
                    amet augue lacinia dictum ut ut orci. Suspendisse bibendum placerat maximus. Etiam ultrices ipsum at
                    augue egestas accumsan. Maecenas euismod sollicitudin nisi, quis blandit sem aliquam nec. Nulla
                    maximus luctus ligula, id consectetur elit pulvinar laoreet. Curabitur aliquam eget sem non
                    consectetur. Nulla ut enim mauris. Cras et facilisis massa. Maecenas quis justo at ante pulvinar
                    hendrerit.</p>
                <p>Fusce ac dolor sit amet leo molestie vehicula laoreet ac ante. Donec non sem nec nisl pretium
                    vulputate eget in augue. Etiam ut odio at risus laoreet mollis ac vitae lectus. Nunc et ex in felis
                    gravida venenatis et in lacus. Cras et dolor quis neque fermentum pellentesque a in orci. Nam nec
                    odio odio. Nam id pellentesque magna, vel ultrices lacus. Donec nec augue imperdiet nisi vehicula
                    euismod ac non eros. Integer vel lectus at orci tincidunt hendrerit. Mauris rhoncus lectus vitae
                    enim porttitor aliquet. Quisque dapibus non eros faucibus porttitor. Donec sed nisl in arcu tempus
                    gravida ac eu diam. Suspendisse potenti. Nam at eros pretium, molestie leo sed, pretium felis.
                    Aliquam aliquet orci eget ullamcorper porttitor.</p>
                <p>Fusce ac dolor sit amet leo molestie vehicula laoreet ac ante. Donec non sem nec nisl pretium
                    vulputate eget in augue. Etiam ut odio at risus laoreet mollis ac vitae lectus. Nunc et ex in felis
                    gravida venenatis et in lacus. Cras et dolor quis neque fermentum pellentesque a in orci. Nam nec
                    odio odio. Nam id pellentesque magna, vel ultrices lacus. Donec nec augue imperdiet nisi vehicula
                    euismod ac non eros. Integer vel lectus at orci tincidunt hendrerit. Mauris rhoncus lectus vitae
                    enim porttitor aliquet. Quisque dapibus non eros faucibus porttitor. Donec sed nisl in arcu tempus
                    gravida ac eu diam. Suspendisse potenti. Nam at eros pretium, molestie leo sed, pretium felis.
                    Aliquam aliquet orci eget ullamcorper porttitor.</p>
                <p>Fusce ac dolor sit amet leo molestie vehicula laoreet ac ante. Donec non sem nec nisl pretium
                    vulputate eget in augue. Etiam ut odio at risus laoreet mollis ac vitae lectus. Nunc et ex in felis
                    gravida venenatis et in lacus. Cras et dolor quis neque fermentum pellentesque a in orci. Nam nec
                    odio odio. Nam id pellentesque magna, vel ultrices lacus. Donec nec augue imperdiet nisi vehicula
                    euismod ac non eros. Integer vel lectus at orci tincidunt hendrerit. Mauris rhoncus lectus vitae
                    enim porttitor aliquet. Quisque dapibus non eros faucibus porttitor. Donec sed nisl in arcu tempus
                    gravida ac eu diam. Suspendisse potenti. Nam at eros pretium, molestie leo sed, pretium felis.
                    Aliquam aliquet orci eget ullamcorper porttitor.</p>
                <p>Fusce ac dolor sit amet leo molestie vehicula laoreet ac ante. Donec non sem nec nisl pretium
                    vulputate eget in augue. Etiam ut odio at risus laoreet mollis ac vitae lectus. Nunc et ex in felis
                    gravida venenatis et in lacus. Cras et dolor quis neque fermentum pellentesque a in orci. Nam nec
                    odio odio. Nam id pellentesque magna, vel ultrices lacus. Donec nec augue imperdiet nisi vehicula
                    euismod ac non eros. Integer vel lectus at orci tincidunt hendrerit. Mauris rhoncus lectus vitae
                    enim porttitor aliquet. Quisque dapibus non eros faucibus porttitor. Donec sed nisl in arcu tempus
                    gravida ac eu diam. Suspendisse potenti. Nam at eros pretium, molestie leo sed, pretium felis.
                    Aliquam aliquet orci eget ullamcorper porttitor.</p>
            </div>
            <div class="col-3 pe-0">
                <div class="list-group mb-3">
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                             class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">List group item heading</h6>
                                <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                            </div>
                            <small class="opacity-50 text-nowrap">now</small>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                             class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">Another title here</h6>
                                <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little
                                    longer so it wraps to a new line.</p>
                            </div>
                            <small class="opacity-50 text-nowrap">3d</small>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                             class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">Third heading</h6>
                                <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                            </div>
                            <small class="opacity-50 text-nowrap">1w</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:insert="common/footer :: footer"></div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom JS -->
<script src="/js/scripts.js"></script>
</body>
</html>